/* Slide animation */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.clients {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.clients .heading {
  text-align: center;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.logo-slider > img {
  flex: 0 0 auto;
  object-fit: contain;
  height: 100px;
  /* width: auto; */
  margin: 0 4rem;
}

.logo-slider {
  display: flex;
  flex-direction: row;
  width: max-content;
  align-items: center;
  animation: 25s slide linear infinite;
}

.slider-container:hover .logo-slider {
  animation-play-state: paused;
}

.slider-container::before {
  content: "";
  width: 300px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #0f0f0f, #0f0f0f00);
  z-index: 5;
}

.slider-container::after {
  content: "";
  width: 300px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to left, #0f0f0f, #0f0f0f00);
  z-index: 5;
}

/* Media queries */
@media screen and (max-width: 850px) {
  .slider-container::before,
  .slider-container::after {
    width: 150px;
  }
}
