.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  border-left: 4px solid var(--color-accent-200);
  width: 35%;
  position: sticky;
  top: 15dvh;
  left: 0;
}

.quote-text {
  font-size: 28px;
  font-weight: 300;
  color: var(--color-white-200);
  font-family: "DM-Sans-Italic";
}

.quote span {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white-100);
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}

.my-journey {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.my-journey p {
  color: var(--color-white-200);
}

.my-journey p b {
  font-weight: 600;
  color: var(--color-white-100);
}

.cv span {
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-accent-100);
  transition: 0.4s;
}

.cv:hover span {
  font-size: 21px;
  color: var(--color-accent-200);
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .about {
    flex-direction: column;
    gap: 4rem;
  }

  .quote {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }

  .quote-text {
    font-size: 20px;
  }

  .about-me {
    width: 100%;
  }
}
