.project-card {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-white-100);
  border-radius: 0.5rem;
  overflow: hidden;
}

.project-card h3 {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  background-color: var(--color-white-100);
  color: var(--color-black-100);
  padding: 0.25rem 1rem;
}

.card-contents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.8)
  );
  color: var(--color-white-100);
  padding: 1rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}

.card-contents span {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: var(--color-white-100);
  background-color: var(--color-accent-200);
  padding: 0.25rem 0.5rem;
  border-radius: 100px;
  width: fit-content;
}

.card-contents p,
.card-contents a {
  font-size: 16px;
  color: var(--color-white-200);
}

.card-contents a {
  text-decoration: underline;
}

.project-card:hover .card-contents {
  opacity: 1;
}

/* Queries */

@media screen and (max-width: 900px) {
  .card-contents {
    opacity: 1;
  }
}
