.contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    margin: 4rem auto 0;
    gap: 2rem;
}

.contact-form input,
.contact-form textarea {
    background-color: var(--color-black-200);
    border: 1px solid var(--color-grey-100);
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem 1rem;
    resize: none;
    color: var(--color-white-100);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid var(--color-accent-200); 
}

