.header {
  z-index: 10;
  position: sticky;
  background-color: var(--color-black-blur);
  top: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 100%;
  border-bottom: 1px solid var(--color-grey-100);
}

.header-container {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
}

.header-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.header-container > img {
  object-fit: contain;
  height: 50px;
  width: auto;
}

.theme-btn {
  object-fit: cover;
  height: 32px;
  width: 32px;
  display: none;
}

/* Media Queries */
@media screen and (max-width: 750px) {
  .header-container > img {
    height: 32px;
  }
}
