.footer {
  background-color: var(--color-black-200);
  width: 100%;
  margin: 4em auto 0rem;
  border-top: 1px solid var(--color-grey-100);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  padding: 1.5rem 0;
  margin: 0 auto;
  color: var(--color-white-100);
}

.footer-container > small {
  font-size: 16px;
}

.footer-container > ul {
  display: flex;
}

.footer-container > ul > li {
  display: inline-block;

  padding: 0rem 1rem;
  transition: 0.4s;
}

.footer-container > ul > li > a,
.address {
  color: var(--color-white-200);
  font-size: 18px;
  font-family: DM-Sans;
  transition: 0.4s;
}

.footer-container > ul > li:hover a,
.address {
  color: var(--color-white-200);
  font-size: 20px;
}

/* Media Queries */

@media screen and (max-width: 700px) {
  .footer-container > ul {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
