@font-face {
  font-family: DM-Sans;
  src: url(../public/font/DMSans-VariableFont.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: DM-Sans, sans-serif;
}

body {
  background: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}